# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.env

# FastAPI
.env

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.sqlite3

# Temporary files
*.bak
*.tmp
uploaded_files/*

# Dependencies
/site-packages/
/lib/
/bin/

# Virtual environment
.venv/